{% extends 'base.html' %}

{% block content %}
  <h2>{{ user.username }}</h2>
  
  <h3>User Information</h3>
  <p><strong>Username:</strong> {{ user.username }}</p>
  <p><strong>Email:</strong> {{ user.email }}</p>
  <p><strong>First Name:</strong> {{ user.first_name }}</p>
  <p><strong>Last Name:</strong> {{ user.last_name }}</p>
  <p><strong>Major:</strong> {{ user.major }}</p>
  <p><strong>Preferred Language:</strong> {{ user.preferred_language }}</p>
  
  <h3>Clubs</h3>
  {% if clubs %}
    <ul>
      {% for club in clubs %}
        <li>{{ club.name }}</li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No clubs found.</p>
  {% endif %}
  
  <h3>Edit Information</h3>
  <form method="POST" class="ibm-row-form">
    {% csrf_token %}
    {{ form.as_p }}
    <a class="navbar-button w-nav-link text-3" href="{% url 'edit_profile'%}">Edit Profile</a>
  </form>
  <a href="{% url 'signout' %}" class="navbar-button w-nav-link">
    <div class="text-3">
      Log Out
    </div>
  </a>
  
{% endblock %}